<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body th:fragment="body">
<div class="modal fade" id="confirm-modals" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa fa-times"></i> <span th:text="#{action.cancel}"></span>
                </button>
                <button type="button" class="btn btn-primary">
                    <i class="fa fa-trash-o"></i> <span th:text="#{action.confirm}"></span>
                </button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">

    var jModal = $('#confirm-modals');

    function showConfirmModal(modalData, confirmType) {
        if (modalData == null) modalData = {};
        if (modalData.content == null) {
            modalData.content = '';
        } else {
            if (confirmType == 'delete') {
                modalData.content = [[#{message.confirmDelete}]] + '<br/>' + modalData.content;
            } else if (confirmType == 'active') {
                modalData.content = [[#{message.confirmActiveChange}]] + '<br/>' + modalData.content;
            } // else if ...
        }
        if (modalData.confirmCallback == null) {
            console.log('confirmCallback param is not set. Delete Modal will not work.');
        }
        jModal.find('.modal-body').html(modalData.content);
        jModal.find('.btn-primary').unbind('click').click(modalData.confirmCallback);
        jModal.modal();
    }

</script>
</body>
</html>