<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<body th:fragment="body">
<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar ">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
            <!--<a class="navbar-brand" href="index.html">-->
            <a class="navbar-brand" th:href="${T(com.example.demo.constants.ProjectUrls).AdminDashboard}">
                <span style="color:#fff;" th:text="#{top.project.name}">Cash Back System</span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto mt-md-0">
                <!-- This is  -->
                <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"
                                        href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>
                <!-- ============================================================== -->
                <!-- End Messages -->
                <!-- ============================================================== -->
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Comment -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href=""
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-message"></i>
                        <!--<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>-->
                    </a>

                    <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                        <ul>
                            <li>
                                <div class="drop-title">Notifications</div>
                            </li>
                            <li>
                                <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all
                                    notifications</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- End Comment -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Messages -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" id="2"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-email"></i>
                        <!--<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>-->
                    </a>

                    <div class="dropdown-menu mailbox dropdown-menu-right scale-up" aria-labelledby="2">
                        <ul>
                            <li>
                                <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all
                                    e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- End Messages -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!--<img src="../assets/images/users/1.jpg" alt="user" class="profile-pic" />--><span
                            sec:authentication="principal.user.fullname"></span></a>

                    <div class="dropdown-menu dropdown-menu-right scale-up">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img">
                                        <!--<img src="../assets/images/users/1.jpg" alt="user" />--></div>
                                    <div class="u-text">
                                        <h4>
                                            <span sec:authentication="principal.user.fullname"></span>
                                        </h4>

                                        <p class="text-muted" sec:authentication="principal.username">
                                            varun@gmail.com</p>
                                        <!--<a href="profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a>-->
                                    </div>
                                </div>
                            </li>
                            <!--/*
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                            <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                            <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                            */-->
                            <li role="separator" class="divider"></li>
                            <li><a th:href="${T(com.example.demo.constants.ProjectUrls).Logout}"><i
                                    class="fa fa-power-off"></i> <span th:text="#{label.sign.out}">Logout</span></a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- Language -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="flag-icon flag-icon-gb" th:if="__${#locale}__=='en'"></i>
                        <i class="flag-icon flag-icon-ru" th:if="__${#locale}__=='ru'"></i>
                        <i class="flag-icon flag-icon-uz" th:if="__${#locale}__=='uz'"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right scale-up">
                        <a class="dropdown-item" href="?lang=ru"><i class="flag-icon flag-icon-ru"></i> Русский</a>
                        <a class="dropdown-item" href="?lang=en"><i class="flag-icon flag-icon-gb"></i> English</a>
                        <a class="dropdown-item" href="?lang=uz"><i class="flag-icon flag-icon-uz"></i> O`zbekcha</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
</body>
</html>